<style>
  .app{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>

<div class="app">
  <div>
    <ng-container *ngIf="is_metamask_install">
      <h1 *ngIf="(this._web3Service.$walletAddress | async)">{{this._web3Service.$walletAddress | async}}</h1>
      <button *ngIf="!(this._web3Service.$walletAddress | async)" (click)="this._web3Service.connectMetaMask()">Connect MetaMask</button>
    </ng-container>
    <button *ngIf="!is_metamask_install" (click)="installMetaMask()">Install MetaMask</button>
  </div>
</div>